# Project
SERVICE_NAME=boilerplate
ENVIRONMENT=development

# GIN
GIN_APP_PORT=8000

# Log
LOG_LEVEL=DEBUG
LOG_DEV_MODE=false

# Tracing
#* Important: Do not add http(s):// to the begining of the following env var
OTEL_COLLECTOR_ENDPOINT='otel-collector:4318'